<%= form_for @drink do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :manufacture_date %>
    <%= f.date_field :manufacture_date %>
  </div>
  <div>
    <%= f.label :expiration_date %>
    <%= f.date_field :expiration_date %>
  </div>
  <div>
    <%= f.label :alcoholic_content %>
    <%= f.number_field :alcoholic_content, placeholder: '%' %>
  </div>
  <div>
    <%= f.label :min_inventory %>
    <%= f.number_field :min_inventory %>
  </div>
  <div>
    <%= f.label :max_inventory %>
    <%= f.number_field :max_inventory %>
  </div>
  <div>
    <%= f.label :category_id %>
    <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </div>
  <div>
    <%= f.label :manufacturer_id %>
    <%= f.collection_select(:manufacturer_id, Manufacturer.all, :id, :name) %>
  </div>
  <div>
    <%= f.label :supplier_id %>
    <%= f.collection_select(:supplier_id, Supplier.all, :id, :name) %>
  </div>
  <%= f.submit %>
<% end %>