<h1><%= @drink.name %></h1>
<div>
  <p>
    <%= t("Category") %>:
    <%= @drink.category.name %>
  </p>
  <p>
    <%= t("Manufacturer") %>:
    <%= @drink.manufacturer.name %>
  </p>
  <p>
    <%= t("Supplier") %>:
    <%= @drink.supplier.name %>
  </p>
  <hr/>
  <p>
    <%= t("Expiration Date") %>:
    <%= @drink.expiration_date %>
  </p>
  <p>
    <%= t("Manufacture Date") %>:
    <%= @drink.manufacture_date %>
  </p>
  <p>
    <%= t("Alcoholic Content") %>:
    <%= @drink.alcoholic_content %>
    <span>%</span>
  </p>
  <p>
    <%= t("Min Inventory") %>:
    <%= @drink.min_inventory %>
  </p>
  <p>
    <%= t("Max Inventory") %>:
    <%= @drink.max_inventory %>
  </p>
</div>
