<h1><%= @drink.name %></h1>
<h2>Category: <%= @drink.category.name %></h2>
<h2>Supplier: <%= @drink.supplier.name %></h2>
<div>
  <p>
    <%= t("Alcoholic Content") %>:
    <%= @drink.alcoholic_content %>
  </p>
  <p>
    <%= t("Expiration Date") %>:
    <%= @drink.expiration_date %>
  </p>
  <p>
    <%= t("Manufacture Date") %>:
    <%= @drink.manufacture_date %>
  </p>
</div>
