<%= form_for @cat do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :desc %>
    <%= f.text_area :desc %>
  </div>
  <div>
    <%= f.label :max_permanency_period %>
    <%= f.number_field :max_permanency_period %>
    <span>months</span>
  </div>
  <%= f.submit %>
<% end %>