<h1><%= @supplier.name %></h1>
<div>
  <p>
    <%= t("Registry") %>:
    <%= @supplier.registry %>
  </p>
  <p>
    <%= t("Phone") %>:
    <%= @supplier.phone %>
  </p>
  <p>
    <%= t("Email") %>:
    <%= @supplier.email %>
  </p>
</div>
