<h1><%= @manufac.name %></h1>
<div>
  <p>
    <%= t("Registry") %>:
    <%= @manufac.registry %>
  </p>
  <p>
    <%= t("Phone") %>:
    <%= @manufac.phone %>
  </p>
  <p>
    <%= t("Email") %>:
    <%= @manufac.email %>
  </p>
</div>
